<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.PictureDao">
    <insert id="addPicture" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO
          picture (content, imgurl, author)
        VALUES
          ( #{content}, #{imgurl}, #{author})
    </insert>

    <select id="listPicture" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
          w.id id,
          w.content content,
          w.imgurl imgurl,
          w.author author,
          date_format(w.create_time, '%Y-%m-%d %T') createTime
        FROM picture w
        WHERE w.delete_status = '1'
              ORDER BY w.id DESC
    </select>

    <update id="updatePicture" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE picture
        SET
          content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deletePicture" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE picture
        SET
          delete_status = '2'
        WHERE id = #{id}
    </delete>
</mapper>